lua/solarized/tmp.lua
lua/solarized/solarized-flat/tmp.lua
lua/solarized/solarized-high/tmp.lua
lua/solarized/solarized-high/tmp.vim
lua/solarized/solarized-low/tmp.lua
lua/solarized/solarized-low/tmp.vim
